@import "../../theme/theme.scss";

.rms-card {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $font-color;
  position: relative;
}
